/* style.css */
body {
    font-family: cursive; /* Example girly font */
    background-color: #ffe6f2; /* Light pink background */
    color: #f04cad; /* Example text color*/
     display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Remove default body margin */


}

#container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    text-align: center; /* Center the content */
}


.page {
    display: none; /* Hide all pages initially */

}

.page p{
     font-size: 1.2em;

}



.page img {
    max-width: 100%; /*Responsive image */
    height: auto;
    margin-top: 20px;
    border-radius: 10px;


}




#page14 img{
      width: 500px; /* Fixed width for hug image*/
    height: auto;


}




button {
    background-color: #f04cad; /* Pink button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 1em;
}


#secretWord {
     width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}



h1 {
    color: #f04cad;
    margin-bottom: 20px;
}

/* Add more girly styles as per your preferences */
body{
    background-image: url("istockphoto-1097985682-612x612.jpg");
    /* background-repeat: no-repeat;
    background-size: 100%; */
}